# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__init__.py

# Distribution / packaging
.Python
.env/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Sphinx documentation
docs/_build/

*.sqlite3
migrations/

.directory
