	{% if post.embed %}
		{{ post.embed }}
    {% else %}
    <div class="files">
    {% load index %}
    {% for file in post.files|to_dict %}
        <div class="file{% if post.num_files > 1 %} multifile" style="width:{{ file.thumbwidth }}px"{% else %}"{% endif %}>
	{% if file.file == 'deleted' %}
		<img class="post-image deleted" src="{{ config.image_deleted }}" alt="" />
	{% else %}
		<p class="fileinfo">File: <a href="{{ config.uri_img }}{{ file.file }}">{{ file.file }}</a> <span class="unimportant">
		(
			{% if file.thumb == 'spoiler' %}
				Spoiler Image, 
			{% endif %}
			{{ file.size }}
			{% if file.width and file.height %}
				, {{ file.width}}x{{ file.height }}
				{% if config.show_ratio %}
					, {{ ratio }}
				{% endif %}
			{% endif %}
			{% if config.show_filename and file.filename %}
				, 
				{% if file.filename|length > config.max_filename_display %}
					<span class="postfilename" title="{{ file.filename }}">{{ file.filename }}</span>
				{% else %}
					<span class="postfilename">{{ file.filename }}</span>
				{% endif %}
			{% endif %}
		)
		{% include "posts/post/image_identification.html" %}
		{% include "posts/post/file_controls.html" %}</span></p>
	{% include "posts/post/image.html" %}
	{% endif %}
</div>
    {% endfor %}
</div>
    {% endif %}
