{% load index %}
<a href=""
	 target="_blank"
	{% if post.thumb == 'file' or filename|extension == 'webm' or file|extension == 'mp4' %}
		 class="file"
	{% endif %}
>
	{% if file.thumb|extension == 'webm' or file.thumb|extension == 'mp4' %}
		<video autoplay class="post-image" src="{{ config.uri_thumb }}{{ file.thumb }}"
			 poster="
			"
			 style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px"
		>
		</video>
	{% else %}
		<img class="post-image" 
			src="/{{ file.thumb_path }} "
			 style="width:{{ file.thumbwidth }}px;height:{{ file.thumbheight }}px" alt=""
		/>
	{% endif %}
</a>
