<!DOCTYPE html>
<html>
    <head>
	    <title>/{{ curr_board.0.name }}/ — {{ curr_board.0.description }} | Кропивач</title>
		<base href="../">
		{% include "posts/head.html" %}
	</head>
	<body>
	    {% include "posts/header.html" %}
		<div class="row">
		    <div class="col s12 m8 offset-m2">{% include "posts/thread_form.html" %}</div>
		</div>
		<div class="row">
			{% for topic in topics_list %}
			    <div class="col s12 m3">
			        {% include "posts/thread-card.html" %}
			    </div>
			{% endfor %}
		</div>
		<script>
		    document.addEventListener("DOMContentLoaded", setthread);
		    function setthread(){
		        $('#id_thread').hide();
		        $('#id_thread').val(0);

            }
		</script>
		<ul class="pagination center">
			<li {% if prev = 0 %}class="disabled"<a href="">{% else %}class="waves-effect"><a href="{{ curr_board.0.name }}/{{ prev }}">{% endif %}<i class="material-icons">chevron_left</i></a></li>
			<li class="active green"><a href="#!">1</a></li>
			<li class="waves-effect"><a href="{{ curr_board.0.name }}/{{ next }}"><i class="material-icons">chevron_right</i></a></li>
		</ul>    
		{% include "posts/footer.html" %}
        {% include "posts/scripts.html" %}
	</body>
</html>