<!DOCTYPE html>
<html>
    <head>
	    <title>/{{ curr_board.0.name }}/ — {{ curr_board.0.description }} | Кропивач</title>
		{% if two_slash = 1%}<base href="../../">{% else %}<base href="../">{% endif %}
		{% include "posts/head.html" %}
	</head>
	<body>
	    {% include "posts/header.html" %}
		<div class="row">
		    <div class="col s12 m8 offset-m2">{% include "posts/thread_form.html" %}</div>
		</div>
		<div class="row">
			{% for topic in topics_list %}
			    <div class="col s12 m3">
			        {% include "posts/thread-card.html" %}
			    </div>
			{% endfor %}
		</div>
		<script>
		    document.addEventListener("DOMContentLoaded", setthread);
		    function setthread(){
		        $('#id_thread').hide();
		        $('#id_thread').val(0);
			}

		</script>
		<ul class="pagination center">
			{% if prev < 0 %}{% else %} <li class="waves-effect"><a href="{{ curr_board.0.name }}/{{ prev }}"><i class="material-icons">chevron_left</i></a></li>{% endif %}
			<!--<li class="waves-effect"><a href="{{ curr_board.0.name }}/0">0</a></li>
			...
			{% load index %}<li class="waves-effect"><a href="{{ curr_board.0.name }}/{{ current|dec }}">{{ current|dec }}</a></li>
			<li class="active green"><a href="{{ curr_board.0.name }}/{{ current }}">{{ current }}</a></li>
			{% load index %}<li class="waves-effect"><a href="{{ curr_board.0.name }}/{{ current|inc }}">{{ current|inc }}</a></li>
			...
			<li class="waves-effect"><a href="{{ curr_board.0.name }}/{{ last }}">{{ last }}</a></li>-->
			{% for page in "x"|rjust:last %}
				{% if forloop.counter0 = current %}
					<li class="active green"><a href="{{ curr_board.0.name }}/{{ current }}">{{ current }}</a></li>
				{% else %}
					{% load index %}
					{% if current|minus:forloop.counter0 < 3 and current|minus:forloop.counter0 > -3 %}
						<li class="waves-effect"><a href="{{ curr_board.0.name }}/{{ forloop.counter0 }}">{{ forloop.counter0 }}</a></li>
					{% else %}
						{% if forloop.counter0 = 0 %}
							<li class="waves-effect"><a href="{{ curr_board.0.name }}/{{ forloop.counter0 }}">{{ forloop.counter0 }}</a></li>...
						{% endif %}
						{% if forloop.counter0 = last|dec %}
							...<li class="waves-effect"><a href="{{ curr_board.0.name }}/{{ forloop.counter0 }}">{{ forloop.counter0 }}</a></li>
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
			{% if next >= last %}{% else %}<li class="waves-effect"><a href="{{ curr_board.0.name }}/{{ next }}"><i class="material-icons">chevron_right</i></a></li>{% endif %}
		</ul>    
		{% include "posts/footer.html" %}
        {% include "posts/scripts.html" %}
	</body>
</html>
