<footer class="page-footer z-depth-2 green">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Статистика Кропивача</h5>
                <ul>
                    <li><span class="grey-text text-lighten-3">Тредів</span></li>
                    <li><span class="grey-text text-lighten-3">Постів</span></li>
                    <li><span class="grey-text text-lighten-3">Постів за сьогодні</span></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Інші місця</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Кропивач
        </div>
    </div>
</footer>
