<div class="navbar-fixed">
<nav class="row col s12">
    <div class="nav-wrapper green">
        <ul class="left hide-on-med-and-down">
            <li><a class="brand-logo" href="#">Кропивач</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a class="board_list" href="/int/">International</a></li>
            <li><a class="board_list" href="/a/">Аніме</a></li>
            <li><a class="board_list" href="/b/">Балачки</a></li>
            <li><a class="board_list" href="/bugs/">Зауваження</a></li>
            <li><a class="board_list" href="/fap/">Фап</a></li>
        </ul>
        <!-- for mobile -->
        <a href="#" id="mobile-menu" data-activates="mobile-demo" class="button-collapse" ><i class="material-icons">menu</i></a>
        <ul class="center hide-on-med-and-up">
            <li><a href="#">Кропивач</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a class="board_list" href="/int/">International</a></li>
            <li><a class="board_list" href="/a/">Аніме</a></li>
            <li><a class="board_list" href="/b/">Балачки</a></li>
            <li><a class="board_list" href="/bugs/">Зауваження</a></li>
            <li><a class="board_list" href="/fap/">Фап</a></li>
      </ul>
    </div>
</nav>
</div>