		{% load static %}
		<link rel="stylesheet" media="screen" href="{% static config.url_stylesheet %}">
		{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}">{% endif %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
		{% if config.default_stylesheet.1 != '' %}<link rel="stylesheet" type="text/css" id="stylesheet" href="{% static config.uri_stylesheets %}{{ config.default_stylesheet.1 }}">{% endif %}
		{% if config.font_awesome %}<link rel="stylesheet" href="{{ config.root }}{{ config.font_awesome_css }}">{% endif %}
		{% if config.country_flags_condensed %}<link rel="stylesheet" href="{{ config.root }}{{ config.country_flags_condensed_css }}">{% endif %}
		<script type="text/javascript">
			var configRoot="{{ config.root }}";
			var inMod = {% if mod %}true{% else %}false{% endif %};
			var modRoot="{{ config.root }}"+(inMod ? "mod.php?/" : "");
		</script>
		{% if not nojavascript %}
			<script type="text/javascript" src="{% static config.url_javascript %}"></script>
			{% if not config.additional_javascript_compile %}
			{% for javascript in config.additional_javascript %}<script type="text/javascript" src="{% static javascript %}"></script>{% endfor %}
			{% endif %}
		{% endif %}
