{% load index %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<script type="text/javascript">
		var active_page = "page";
	</script>
	{% include 'posts/header.html' %}
	<title>{{ threads.0.body_nomarkup|truncate }} | Кропивач</title>
</head>
<body class="8chan vichan {% if mod %}is-moderator{% else %}is-not-moderator{% endif %} active-page" data-stylesheet="{% if config.default_stylesheet.1 != '' %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
        {{ boardlist.top }}
	<header>
		<h1>/{{ board.url }}/ - {{ board.title }}</h1>
		<div class="subtitle">
            {% if board.subtitle %}
				{% if config.allow_subtitle_html %}
					{{ board.subtitle }}
				{% else %}
					{{ board.subtitle }}
				{% endif %}
			{% endif %}
            {% if mod %}<p><a href="?/">Return to dashboard</a></p>{% endif %}
		</div>
	</header>

        	{% include 'posts/attention_bar.html' %}

	{{ config.ad.top }}

	{% if not no_post_form %}
		{% include 'posts/post_form.html' %}
	{% else %}
		{% include 'posts/boardlist.html' %}
	{% endif %}

	{% if config.global_message %}<hr /><div class="blotter">{{ config.global_message }}</div>{% endif %}
	<hr />
	<form name="postcontrols" action="{{ config.post_url }}" method="post">
	<input type="hidden" name="board" value="{{ board.uri }}" />
	{% if mod %}<input type="hidden" name="mod" value="1" />{% endif %}
	{% for post in threads %}
            {% include 'posts/post_thread.html' %}
    {% endfor %}
	{% include 'posts/report_delete.html' %}
</form>

	<hr>
	<footer>
	</footer>
</body>
</html>
