<a name="{{ post.id }}" class="post-anchor"></a><div class="post white z-depth-1" id="post-{{ post.id }}">{% load i18n %}
    <div class="row">
        <a class="left" href="/post-{{ post.id }}"> {{ post.theme }} </a> <span class="right"> <a href="/post-{{ post.id }}">#{{ post.id }}</a></span>
	</div>
	<div>
        <div class="row">
            <span class="left">{{ post.pub_date }}</span>
            <span class="right">{% if post.author = 'Хтось' %} {% trans "Хтось" %} {% else %} {{ post.author }} {% endif %}{% trans " написав:" %}</span>
		</div>
        <!-- <span class="rep_icn" title="Швидка відповідь" onclick="quickreply({{post.id}}, {{ post.id }})"></span> -->
        <div class="divider"></div>
        <div id="post_content_{{ post.id }}">
            {% if post.file %}
                {% load index %}
                {% if post.file.name|get_ext = ".png" or ".bmp" or ".jpg" or ".jpeg" %}
                    <a href="{{ post.file.url }}" target="_blank">Зберегти</a>
                    <div id="{{ post.id }}_image">
                        <img alt="Зображення" src="{{post.thumb.url }}" onclick="imageprev(({{ post.id }}),'{{ post.file.url }}','{{post.thumb.url }}');">
                    </div>
                {% endif %}
                {% load index %}
                {% if post.file.name|get_ext = ".webm" %}
                    <a href="{{ post.file.url }}" target="_blank">Зберегти</a>
                    <div id="{{ post.id }}_video">
                        <video src="{{ post.file.url }}" class="responsive-video" controls preload="none" muted="true" loop="true"></video>
                    </div>
                {% endif %}
                {% load index %}
                {% if post.file.name|get_ext = ".mp3" %}
                    <a href="{{ post.file.url }}" target="_blank">Зберегти</a>
                    <div id="{{ post.id }}_audio">
                        <audio src="{{ post.file.url }}" controls preload="none" muted="false" loop="false"></video>
                    </div>
                {% endif %}
            {% endif %}
			<div class="post-body">{% load index %}{{ post.body|cut_text|index|safe }}</div>
		</div>
	</div>
</div>