<div class="thread card hoverable">{% load i18n %}
    <div class="card-image waves-effect waves-block waves-light">{% load index %}{% if topic.op.file %}
        {% if topic.op.file.name|get_ext = ".png" or ".bmp" or ".jpg" or ".jpeg" %}
             <div class="activator board_thread"><img alt="Зображення" class="activator" src="{{ topic.op.threadthumb.url }}"> </div>
        {% endif %}
		{% else %}<div class="activator board_thread"><img alt="Зображення" class="activator" src="/static/prev.png"> </div>
		{% endif %}
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 truncate" >{{ topic.theme }}</span>
      <button class="green modal-trigger btn" id="triger{{ topic.id }}" data-target="view{{ topic.op.id }}">Переглянути</button>
      <a href="/post-{{ topic.op.id }}">Відповісти</a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ topic.theme }}<i class="material-icons right">close</i></span>
      {% load index %}{{ topic.op.body|cut_text|index|safe }}
    </div>
</div>
<div id="view{{ topic.id }}" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Відповіді:</h4>
        <div class="row">
            {% for post in posts_list reversed  %}
                {% if post.thread == topic.op.id %}
                    {% include "posts/temp_post.html" %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row modal-footer">
      <a href="/post-{{ topic.op.id }}" class="modal-action modal-close waves-effect waves-green btn-flat">Перейти до нитки</a>
    </div>
</div>
