<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <button class="btn-floating btn-large waves-effect waves-light green modal-trigger" data-target="createthread">
        <i class="material-icons">add</i>
    </button>
</div>
<div id="createthread" class="modal">
        <h4 class="center">Створити нитку</h4>
            <form method="POST" enctype="multipart/form-data">
	        {% csrf_token %}
	        <div class="row">
	            <div class="input-field col m6">{{ thread_form.author }}<label for="author">Псевдо</label></div>
	            <div class="input-field col m6">{{ thread_form.theme }}<label for="theme">Тема</label></div>
	        </div>
	        <div class="row">
	            <div class="file-field input-field col m12">
                    <div class="green btn">
                        <span>Файл</span>
                        {{ thread_form.file }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
	        </div>
	        <div class="row">
		        <div class="input-field col m12">{{ thread_form.body }}<label for="body">Ваша думка</label></div>
	        </div>
	        {{ thread_form.thread }}
	        <div class="row">
	            <button class="col m2 offset-m5 green btn waves-effect waves-light" type="submit" name="action">Створити</button>
	        </div>
        </form>
</div>